* {
  box-sizing: border-box;
}
#title {
  font-family: "Bungee Spice", cursive;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  margin: auto;
  box-shadow: 0 0 10px #000;
}

#description {
  font-family: "Permanent Marker", cursive;
  color: white;
  text-align: center;
  font-size: x-large;
}
body {
  background-image: url(pizza.jpg);
}
.wrapper {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -10px;
}
.form_group {
  display: block;
  font-family: "Permanent Marker", cursive;
  color: white;
  text-align: center;
  font-size: large;
}
#text-area {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
}
#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 200px;
  background: linear-gradient(yellow 5%, orange 10%, red 75%);
  font-size: x-large;
  font-family: "Permanent Marker", cursive;
}
#name,
#name-label,
#email,
#email-label,
#number,
#number-label,
#dropdown,
#pie-size,
#pie-base {
  font-size: large;
}
